extends layout

block content
  p Join the conversation :)
  
  form(id="chatForm" action="")
    label(for="username") Username:
    input(type="text" id="username" name="username")
    br
    input(type="text" id="myMessage")
    input(type="submit" value="Send Message")

  ul(id="messageLog")